name: influx-test

services:
  influxdb:
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: abcd1234
      DOCKER_INFLUXDB_INIT_ORG: homelab
      DOCKER_INFLUXDB_INIT_BUCKET: telegraf
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: abc123def456
    image: "influxdb:2.8.0"
    ports:
      - "8086:8086"
    restart: always
    volumes:
      - influxdb-config:/etc/influxdb2
      - influxdb-data:/var/lib/influxdb2
  telegraf:
    depends_on:
      telegraf-init:
        condition: service_completed_successfully
    hostname: mock-container
    image: &image-telegraf "telegraf:1.37.1"
    restart: always
    volumes:
      - telegraf:/etc/telegraf
  telegraf-init:
    command: -euxc 'test -e /etc/telegraf/telegraf.conf || printenv telegraf_conf_txt > /etc/telegraf/telegraf.conf'
    entrypoint: /bin/sh
    environment:
      telegraf_conf_txt: |
        [global_tags]
        [agent]
          interval = "10s"
        [[outputs.influxdb_v2]]
          urls = ["http://influxdb:8086"]
          bucket = "telegraf"
          organization = "homelab"
          token = "abc123def456"
        [[inputs.cpu]]
          percpu = true
          totalcpu = true
          collect_cpu_time = false
          report_active = false
          core_tags = false
        [[inputs.disk]]
          ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]
        [[inputs.kernel]]
        [[inputs.mem]]
        [[inputs.net]]
        [[inputs.nstat]]
        [[inputs.netstat]]
        [[inputs.processes]]
        [[inputs.swap]]
        [[inputs.system]]
    image: *image-telegraf
    user: root
    volumes:
      - telegraf:/etc/telegraf
  grafana:
    image: "grafana/grafana:12.3.2"
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - grafana-data:/var/lib/grafana/data
      - grafana-plugins:/var/lib/grafana/plugins

volumes:
  influxdb-config:
  influxdb-data:
  telegraf:
  grafana-plugins:
  grafana-data:
