<div class="panel panel-primary">
    <div class="panel-heading">Comments</div>
    <div class="panel-body">

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'rob86wiki'; // required: replace example with your forum shortname
            {% if page.url == '/index.html' %}
                var disqus_identifier = '{{ site.posts.first.title }}';
                var disqus_url = '{{ site.url }}{{ site.baseurl }}{{ site.posts.first.url }}';
            {% else %}
                var disqus_identifier = '{{ page.title }}';
                var disqus_url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';
            {% endif %}

            function disqus_config() {
                this.callbacks.onReady.push(function() {
                    var count = $('#comment_count').text();
                    $('#comment_count').html('<span class="label label-success">' + count + '</span>')
                });
            }
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            (function () {
                var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
        <noscript>
            Please enable JavaScript to view the
            <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </div>
</div>
