{% if page.url == '/index.html' %}
    {% assign page_date = site.posts.first.date %}
    {% assign page_title = site.posts.first.title %}
    {% assign page_modified = site.posts.first.modified %}
{% else %}
    {% assign page_date = page.date %}
    {% assign page_title = page.title %}
    {% assign page_modified = page.modified %}
{% endif %}

<div class="panel panel-success">
  <div class="panel-heading">Metadata</div>
  <div class="panel-body">
        Originally posted: <span class="label label-success">{{ page_date | date:'%A, %B %d, %Y' }}</span><br>
        {% if page_modified %}
            Modified on: <span class="label label-success">{{ page_modified | date:'%A, %B %d, %Y' }}</span><br>
        {% endif %}
        Comments: <a href="#disqus_thread" data-disqus-identifier="{{ page_title }}">Count</a>
  </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Share Links</div>
    <div class="panel-body">
        <div class="row">
            <!-- Twitter -->
            <div class="col-xs-3 text-center">
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical"
                        data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
                    Tweet
                </a>
                <script>
                    !function(d,s,id) {
                        var js,fjs=d.getElementsByTagName(s)[0];
                        if(!d.getElementById(id)) {
                            js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js,fjs);
                        }
                    }(document,"script","twitter-wjs");
                </script>
            </div>

            <!-- Facebook -->
            <div class="col-xs-3 text-center">
                <div id="fb-root"></div>
                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    } (document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-layout="box_count"
                        data-action="like" data-show-faces="false" data-share="false">
                </div>
            </div>

            <!-- Google+ -->
            <div class="col-xs-3 text-center">
                <div class="g-plusone" data-size="tall" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
                </div>
                <script src="https://apis.google.com/js/platform.js" async defer></script>
            </div>

            <!-- LinkedIn -->
            <div class="col-xs-3 text-center">
                <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-counter="top">
                </script>
            </div>
        </div>
    </div>
</div>

{% if page.url == '/index.html' %}
    <div class="panel panel-default">
        <div class="panel-heading">Reach Me</div>
        <div class="panel-body">
            <a href="https://github.com/Robpol86/" target="_blank"><i class="fa fa-github"></i> GitHub</a><br>
            <a href="http://stackoverflow.com/users/1198943/robpol86" target="_blank">
                <i class="fa fa-stack-overflow"></i> Stack Overflow
            </a><br>
            <a href="https://www.linkedin.com/in/robpooley" target="_blank">
                <i class="fa fa-linkedin"></i> LinkedIn
            </a><br>
            <a href="https://twitter.com/Robpol86" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">GitHub Repos</div>
        <div class="panel-body">
            {% for repo in site.data.repos %}
                <a href="https://github.com/Robpol86/{{ repo.name }}" target="_blank">{{ repo.name }}</a><br>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">GitHub Gists</div>
        <div class="panel-body">
            {% for gist in site.data.gists %}
                <a href="https://gist.github.com/Robpol86/{{ gist.id }}" target="_blank">{{ gist.name }}</a><br>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Misc Links</div>
        <div class="panel-body">
            {% for misc in site.data.misc %}
                <a href="{{ misc.url }}" target="_blank">{{ misc.name }}</a><br>
            {% endfor %}
        </div>
    </div>
{% endif %}
