{% comment %}Sort categories by latest post dates.{% endcomment %}

{% assign categories = [] %}
{% for post in site.posts %}
    {% unless categories contains post.category %}
        {% capture categories_str %}{{ categories | join:'|' }}|{{ post.category }}{% endcapture %}
        {% assign categories = (categories_str | split:'|') %}
    {% endunless %}
{% endfor %}


{% comment %}Set page_title to latest post if index.html, else current page.{% endcomment %}

{% if page.url == '/index.html' %}
    {% assign page_title = site.posts.first.title %}
{% else %}
    {% assign page_title = page.title %}
{% endif %}


{% for category in categories offset:1 %}
    <ul class="nav nav-sidebar">
        {% for post in site.posts %}{% if post.category == category %}
            {% if page_title == post.title %}
                <li class="active"><a href="#">{{ post.title }}</a></li>
            {% else %}
            <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endif %}{% endfor %}
    </ul>
{% endfor %}
