<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="@Robpol86">
    <link rel="icon" href="/favicon.ico?">

    <title>
        {% if page.url == '/index.html' %}
            {{ site.posts.first.title }}
        {% else %}
            {{ page.title }}
        {% endif %}
        - Robpol86.com
    </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/misc/css/sidebar.css">

</head>

<body style="padding-top: 80px;">

{% include navbar.html %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
            {% include sidebar.html %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">

                <div class="col-sm-12 col-md-8 col-lg-9" style="margin-bottom: 21px;">
                    {% if page.url == '/index.html' %}{{ site.posts.first.content }}{% else %}{{ content }}{% endif %}
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3">
                    {% include panelbar.html %}
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% include comments.html %}
                </div>

            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% include tracking.html %}

</body>
</html>
