<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="@Robpol86">
    <meta http-equiv="refresh" content="1; url={{ page.redirect_to }}">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico?">
    <title>Redirecting to: {{ page.redirect_to }}</title>
</head>

<body>
    Redirecting to: <a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a>
    {% include tracking.html %}
</body>
</html>
