/*
 * Hyperlinks box in index.html.
 */

/* Prevent admonition from cutting off on small viewports */
@media (max-width: 960px) {
    aside.margin {
        width: 45%;
    }
}

/* Remove ugly border around admonition on small viewports */
aside.margin {
    border: none;
}

/* Remove excessive whitespace on left and right sides of admonition */
aside.margin div.admonition p.admonition-title~* {
    margin-left: 0;
    margin-right: 0;
}
