/*
 * Background image.
 */

body {
    background-image: url("setup.jpg");
}

.topbar {
    background-image: url("setup.jpg");
}

.bd-toc nav {
    background-image: url("setup.jpg");
}

@media (min-width: 720px) {
    /* Make the left column transparent except on mobile where the column slides over the main content. */
    #site-navigation {
        background-image: url("setup.jpg");
    }
}
