/*
 * Tweaks and fixes.
 */

/* Improve visually on iPhones. Mainly for Hyperlinks box in index.md. */
@media (max-width: 719.98px) {
    /* Prevent admonitions within ```{margin}``` from cutting off. */
    div.sidebar, div.margin, div.margin-caption p.caption, .cell.tag_popout, .cell.tag_margin {
        width: 50%;
    }

    /* Remove ugly border around admonitions within ```{margin}```. */
    div.sidebar, aside.sidebar {
        border: 0;
    }
}

/* Remove left/right margin for figure captions. */
main.bd-content #main-content div.figure p.caption {
    margin-left: 0;
    margin-right: 0;
}
