/*
 * Tweaks and fixes.
 */

/* Hyperlinks box in index.html: prevent admonition from cutting off on small viewports */
@media (max-width: 960px) {
    aside.margin {
        width: 45%;
    }
}

/* Hyperlinks box in index.html: remove ugly border around admonition on small viewports */
aside.margin {
    border: none;
}

/* Hyperlinks box in index.html: remove excessive whitespace on left and right sides of admonition */
aside.margin div.admonition p.admonition-title~* {
    margin-left: 0;
    margin-right: 0;
}
